<form action="/update">
    <input type="hidden" name="id" value="<%= @recipe.id %>">
    <input type="text" name="name" placeholder="Recipe Name" value ="<%= @recipe.name %>">
    <input type="text" name="category" placeholder="Category" value ="<%= @recipe.category %>">
    <input type="text" name="image" placeholder="Image" value ="<%= @recipe.image %>">
    <input type="text" name="prep_time" placeholder="Prep time" value ="<%= @recipe.prep_time %>">
    <input type="text" name="cook_time" placeholder="Cook time" value ="<%= @recipe.cook_time %>">
    <input type="text" name="yields" placeholder="Yield" value ="<%= @recipe.yields %>">
    <input type="text" name="ingredients" placeholder="Ingredients" value ="<%= @recipe.ingredients %>">
    <input type="text" name="method" placeholder="Method" value ="<%= @recipe.method %>">
    <input type="submit" value="Save">
</form>